@model PeticionSQL

@{
    ViewData["Title"] = "Consulta SQL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/Peticion.js" ></script>

<script>

</script>

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <h3>Consultas SQL</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="ConsultaPeticion">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label asp-for="Script">Script a ejecutar</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @*<div class="form-group">
                                <button type="submit" class="btn btn-primary">Consultar</button>
                            </div>*@
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" asp-for="TipoReporte">
                            <option value="CONSULTA">-- Consulta --</option>
                            <option value="XLSX">XLSX</option>
                            <option value="CSV">CSV</option>
                            <option value="TXT">TXT</option>
                            <option value="PDF">PDF</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Exportar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea asp-for="Script" class="form-control" rows="15"></textarea>
                            <span asp-validation-for="Script" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    @if (Model != null)
                    {
                        <thead>
                            <tr>
                                @foreach (string item in Model.Respuesta.NombresColumnas)
                                {
                                    <th>@Html.DisplayTextFor(x => item)</th>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow fila in Model.Respuesta.Dato.Rows)
                            {
                                <tr>
                                    @for (int i = 0; i < Model.Respuesta.Dato.Columns.Count; i++)
                                    {
                                        <th>@Html.DisplayTextFor(x => fila[i])</th>

                                    }
                                </tr>
                            }
                        </tbody>
                    }
                </table>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

